.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header{
height: 90px;
background-color: rgb(149, 211, 211);
float: left;
}
.ads{
    height: 500px;
    background-color: rgb(211, 149, 201);
    float: left;
}

.content{
    height: 500px;
    background-color: rgb(235, 243, 243);
    float: left;
}

.nav{

    height: 500px;
    background-color: rgb(205, 211, 149);
    float: right;
}

.footer{
    height: 90px;
    background-color: rgb(149, 211, 211);
    float: left;

}





@media only screen and (max-width: 360px) {
    .ads{
        width:100% ;
        height: 30%;
    }
    .nav{
        width:100% ;
        height: 30%;      

    }
.content .nav{
   
}
}



@media only screen and (min-width: 768px) {
    .ads{
        width:50% ;
        height: 60%;
    }
   
    
    .nav{
        width:50% ;
        height: 60%;

    }
}

@media only screen and (min-width: 1024px) {
    .header{
        height: 110px;
        }
        .ads{
            height: 500px;
        }
        .content{
            height: 500px;
        }
        
        .nav{
            height: 500px;

        }
        .footer{
            height: 110px;
        }
}